.closed {
    display: none;
}

.open {
    display: block;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    width: 70%;
    max-width: 50em;
}

.input-container>.field>input {
    padding: 0.2em 0.4em
}

.input-container>.field>span {
    margin-left: 0
}

.save-button {
    font-size: 125%;
    background-color: #69da8f;
    /* color: white; */
    border: #69da8f 1px solid;
    padding: 0.4em 0.8em;
    border-radius: 0.2em;
    cursor: pointer;
    margin: 3em;
}

.save-button:hover {
    background-color: #59bd7a;
    border: #59bd7a 1px solid;

}