.background_image {
    position: absolute;
    top: 800px;
    left: -250px;
    transform: translate(-50%, -50%);
    z-index: -1;
    transform: rotate(-18deg);
    max-width: 80%;
    /* border: 3px solid #000000; */
}

@media (min-width: 600px) {
    .background_image {
        max-width: 80%;
    }
}