.form-wrapper{
    padding: 1em 0;
    font-family: Mouse Memoirs;
    display: flex;
    justify-content: center;
    gap: 4em;
    width: 100%;
    background-color:#8ACE80 ;
}
.form-inner{
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: 90%;
    background-color: white;
    padding: 2em;
}
h1{
    text-align: center;
}
/* inputs börjar här */

.form-inputs label{
    font-size: 22px;

}

.field{
    display: flex;
}

.field input{
    flex-grow: 2;
    font-size: 18px;
    margin-bottom: .3em;
    background-color:#8ACE80 ;
    border: none;
    padding: 0 .9em;
}

.form-inputs input:focus{
    border: .5px solid black;

}
/* inputs slutar här */


/* radio buttons här */


.eat-place{
    font-size: 22px;
}
.eat-place input{
    accent-color: #8ACE80  ;
    width: 50%;
    border: 0;
    height: 2em;
    align-self: center;
}

.eat-here-div{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 1em;
}
.take-away-div{
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
}

label{
    width: 200px;
}
.take-away-div label {
    margin-right: 1em;
}
/* radio buttons slutar här */

.price-paragraf{
    display: flex;
    gap: 3em;
    font-size: 22px;
    align-self: center;

}
.item-div{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.item-li{
    border: 5px solid #8ACE80  ;
    margin-bottom: .5em;
    padding: 1em;
}
.item-p{
    font-weight: 100;
}
.ta-bort{
    border: none;
    font-size: 30px;
    background-color: white;
    cursor: pointer;
}

.send-order{
    font-family: Mouse Memoirs;
    background-color: #8ACE80;
    font-size: 24px;
    border: none;
    padding: .5em .8em;

}

.valid-name{
    margin-left: .5em;
}


/* error meddelande börjar här */
.hide-error, .hide-phone-error{
    display: none;

}

.error-style{
    border: 1px solid grey;
    padding: .5em 1.2em;
    background-color:#BE4B49 ;
    margin-bottom: .5em;
}

.error-style li{
    list-style: disc;
    font-size: 16px;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    margin-bottom: .4em;
}

.show-phone-error, .show-error{
    display: block;
}
/* error meddelande slutar här */



/* media queries här */
@media screen and (min-width: 992px) {
    .form-wrapper{
        font-size: 26px ;
        background-color: #8ACE80;
    }
    .form-inner{
        width: 90%;
        align-items: center;
        padding: 2em;
        gap: 2em;
    }
    label  {
        font-size: 24px;
        width: 400px;
    }
    .price-paragraf {
        font-size: 24px;
        gap: 10em;
        align-self: center;
    }


    .send-order{
        font-size: 26px;
        border: 1px solid #8ACE80;
        cursor: pointer;
        background: linear-gradient(to right, #8ACE80 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
    
    }
    
    .send-order:hover {
        background-position: left bottom;
      }
      .field input{
        flex-grow: 10;
    }
      .form-inputs input{

        width: 400px;
      }

      .error-style{
        width: 250px;
    }


}
