* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    padding: 0.5em;
    background-color: #2C4906;
    height: 8%;
    width: 100%;

}

.header-container {
    display: flex;
    justify-content: center;
}

.logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo {
    /* width: 100px; */
    height: 80px;
    /* z-index: 1; */
}

.hamburger-menu {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}