.start-menu {
	padding: 2em;
	border: 1px solid black;
}

.dish-container {
	padding: 0.5em;
}

.dish-expand {
	/* border: none; */
	padding: 0.5em 1em;
	background-color: transparent;
	cursor: pointer;
}