* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}



.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    right: -200%;;
    transition: all 0.5s ease-out;
    color: white;
    padding: 2em;
    font-size: 22px;
	background-color: #2C4906;
    z-index: 1;
}
.nav-wrapper-active {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    right: 0%;;
    transition: all 0.5s ease-in;
    color: white;
    padding: .5em;
    font-size: 22px;
	background-color: #2C4906;
    z-index: 1;

}



.header-nav li{
    font-family: 'Mouse Memoirs'; 
    text-align: center;
    padding: .3em;
    
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

hr{
    margin-top: 1em;
    border: 2px solid white;
    padding: 0  5em;
}
.logga-in{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.inloggning-img{
    margin: 1em 0;
    width: 45px;
    height: 45px;
}
.logga-in-paragraf{
    cursor: pointer;
    padding-bottom: 1em;
    color: white;
    font-size: 22px;
}

.inloggning-img{
    cursor: pointer;
}

.span-1{
    text-decoration: underline;
    text-decoration-color: #F35836 ;
    text-decoration-thickness: 3px;
}
.span-2{
    text-decoration: underline;
    text-decoration-color: #0F7138 ;
    text-decoration-thickness: 3px;
}

@media (min-width: 984px) {
    hr{
        display: none;
    }
  .hamburgar-meny  {
        display: none;
        transition: all 2s;
    }
    .header-nav ul{
        display: flex;
        flex-direction: row;
        gap: 2em;
        font-size: 22px;
        flex-wrap: wrap;
        transition: all 2s;
    }
    .header-nav nav{
        position: absolute;
        top: 1.5em;
        right: 3em;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
        transition: all 2s;
    }
}