* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
    font-size: 22px;
    background-color: #2c4906;
}
.nav-wrapper-active {
    display: flex;
    align-content: center;
    flex-direction: column;
    color: white;
    padding: 10%;
    font-size: 30px;
    background-color: #2c4906;
}

.header-nav li {
    font-family: "Mouse Memoirs";
    text-align: center;
    padding: 0.1em;
}

.nav-buttons {
    font-family: "Mouse Memoirs";
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

hr {
    margin-top: 1em;
    border: 2px solid white;
    padding: 0 5em;
}
.logga-in {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inloggning-img {
    margin: 1em 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.logga-in-paragraf {
    cursor: pointer;
    padding-bottom: 1em;
    color: white;
    font-size: 25px;
}

.not-clicked {
    display: none;
    justify-content: center;
    flex-direction: column;
}

.clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 0.3s ease-in;
}

.span-1 {
    text-decoration: underline;
    text-decoration-color: #f35836;
    text-decoration-thickness: 3px;
}
.span-2 {
    text-decoration: underline;
    text-decoration-color: #0f7138;
    text-decoration-thickness: 3px;
}

@media (min-width: 1200px) {
    .nav-wrapper-active,
    .nav-wrapper {
        padding: 1em 0;
        flex-direction: row;
        height: 1vh;
        flex-wrap: wrap;
        gap: 2em;
    }
    hr {
        transform: rotate(90deg);
        width: 10vw;
        display: none;
    }
    .hamburger-menu {
        display: none;
        transition: all 2s;
    }
    .header-nav ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
        font-size: 22px;
        flex-wrap: wrap;
    }
    .header-nav nav {
        position: absolute;
        top: 1.5em;
        right: 3em;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
    }
    .inloggning-img {
        margin: 1em 0;
        width: 55px;
        height: 45px;
        cursor: pointer;
        border-left: 4px solid white;
        padding-left: 1em;
    }
    .clicked {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        font-size: 26px;
        color: white;
        position: absolute;
        top: 2.4em;
        right: -2.5em;
        padding: 3em;
        background-color: #2c4906;
        transition: all 0.5s ease-in-out;
        align-items: center;
        z-index: 1;
    }
}
