
.food-item{
    display: flex;
    height: 100%;
    width: 80vw;
    padding: 15px;
    border: black 1px solid;
    margin-top: 1em;
    margin-left: 10%;
}

.ul-item-food {
    display: flex;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.li-item-food {
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    justify-content: space-between;
    background-color: rgb(242, 247, 240);
    padding: 8px;
}

.delete.food {
    /* margin-left: 20px; */
}

.food-image{
    height: 140px;
    width: 150px;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}
.food-name{
    /* color: white; */
}