

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
    }


.clicked input{
    margin-bottom: 1em;
    padding: .2em;
}

.clicked label{
    font-size: 22px;
    padding-bottom: .2em;
}

.logga-in-btn{
    font-size: 20px ;
    font-family: 'Mouse Memoirs'; 
    align-self: center;
    text-align: center;
    width: 60%;
    margin: .7em 0;
    border: none;
    padding: .5em ;
    border-radius: 10px;
    background-color: #F35836;
    color: white;
}



.logga-in-paragraf-desktop{
    display: none;
}


@media (min-width: 984px) {
    .logga-in-paragraf{
        display: none;
        margin-bottom: 1em;
        font-size: 26px;
        text-align: center;
    }
    .logga-in-paragraf-desktop{
        display: block;
        margin-bottom: 1em;
        font-size: 30px;
        text-align: center;
    }
    .clicked input{
        padding: .5em;
    }
    .clicked button{
        cursor: pointer;
        font-size: 26px;
    }
    .inte-inloggad{
        display: none;
    }
    .inloggad-displaynone{
        display: none;
    }
  

  }